html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.choice-pannel {
  height: 100px;
}

@font-face {
  font-family: 'Roboto', cursive;
  src: url('https://fonts.googleapis.com/css?family=Roboto')
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(250,250,250,0.8);
}


.message-box {
  padding: 50px;
  
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.header {
  min-height: 200px;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 40px;
}


.column {
  display: flex;
  flex-direction: column;
}

.App-intro {
  font-size: large;
}

.card {
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
