.cell {
  min-height: 20px;
  min-width: 20px;
}

.cell-0 {
  background-color: #e2e2e2;
}

.cell-1 {
  background-color: #e5304e;
}

.cell-2 {
  background-color: #3659d8;
}

.choice-panel {
  display: flex;
  justify-content: center;
  > * {
    flex-grow: 1;
  }
}

.board-container {
  height: calc(100vh - 250px - 152px - 32px);
  display: flex;
  justify-content: center;
  flex-basis: 10%;

  .column {
    flex-grow: 1;
    min-height: 500px;
    > * {
      flex-grow: 1;
      }
  }
}

select, option {
  cursor: pointer;
}

button {
  cursor: pointer;
  min-height: 50px;
  min-width: 20px;
  
  &.column {
    padding: 0px !important;
  }
}

.jumbotron {
  color: #fff;
  
  &.jumbo-play-1 {
    background-color: #e02a51;
  }

  &.jumbo-play-2 {
    background-color: #1b8ebc;
  }
}

ul {
  list-style: none;
}

.cell {
  border: 1px solid black;
}

.column {
  display: flex;
  flex-direction: column;

  &:first-child{
    border-left: 2px solid black;
    .cell {
      &::first-child {
        border-top: 2px solid black;
      }
    }
  }
}